.title{
    font-weight:bold;
    font-size:small;
}
.short{
    font-weight:bold;
    color:#FF0000;
    font-size:small;
}
.weak{
    font-weight:bold;
    color:orange;
    font-size:small;
}
.good{
    font-weight:bold;
    color:#2D98F3;
    font-size:small;
}
.strong{
    font-weight:bold;
    color: limegreen;
    font-size:small;
}